/**** reset ****/
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;
}

/**** layout styles ****/
.div-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

ul  {
    display: inline-flex;
    list-style-type: none;
}

li {
    margin-inline-start: auto;
}

.ul-left li {
    margin-inline-start: 20px;
}

.ul-right li {
    margin-inline-end: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttons {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    margin: 4px 4px;
    min-width: 54px;
    padding: 9px 16px;
    text-align: center;
}

.btn-row {
    display: flex;
    flex-direction: row;
}

.buttons:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #000;
}

.btn-one {
    left: 40%;
    bottom: -8px;
}

.btn-two {
    right: 40%;
    bottom: -8px;
}

.sign-in {
    background-color: rgb(0, 102, 255);
    color: white;
    border: none;
}

#search-text {
    width: 575px;
    height: 45px;
    margin: 30px 0;
}

form {
    padding-bottom: 5px;
}

#magnify {
    height: 25px;
}

/**** visual styles ****/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

a {
    color: black;
}

a:hover {
    text-decoration: underline;
}

.register-vote {
    color: blue;
}

input {
    border: 1px solid rgb(204, 202, 202);
    border-radius: 24px;
}

.bottom-nav {
    background-color: #f2f2f2;
}

.bottom-nav a {
    color: #5f6368;
    font-size: 14px;
}