/**** reset ****/
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;
}

/**** layout styles ****/
.div-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    margin-bottom: -40px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    align-items: middle;
    position: relative;
}

.ul-left  {
    padding: 8px 0 0 20px;
 }
 
 .ul-right a {
     display: inline-block;
     text-decoration: none;
     padding-left: 2px;
     padding-right: 12px;
 }

 #gsuite {
    cursor: pointer;
    opacity: .5;
    vertical-align: middle;
    padding-right: 10px;
}

#gsuite:hover {
    opacity: 1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#glogo {
    padding-top: 75px;
    height: auto;
    width: auto;
}

form {
    padding-bottom: 5px;
}

#search-bar-container {
    width: 484px;
    height: 46px;
    margin-top: 25px;
}

#search-bar-flex {
    display: flex;
    width: 460px;
    height: 44px;
    padding: 2px 8px 0px 16px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

#magnify-container {
    width: 33px;
}

#magnify {
    margin-top: 10px;
    opacity: .5;
}

#search-text {
    width: 575px;
    height: 45px;
    margin: 30px 0;
}

#search-container {
    width: 387px;
    height: 34px;
    margin-top: 5px;
}

#search-bar {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: rgba(0, 0, 0, .87);
    border: none;
    outline: none;
    font: 16px arial,sans-serif;
}

.btn-row {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

#btn-one {
    left: 40%;
    bottom: -8px;
}

#btn-two {
    right: 40%;
    bottom: -8px;
}

#footer {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0px;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    text-align: center;
    align-items: center;
    border-top: #c6c6c6;
    border-top-width: 1px;
    border-top-style: solid;
    background-color: #eeeeee;
    opacity: .75;
}

#footer-left {
    margin-inline-start: 20px;
}

#footer-right {
    margin-inline-end: 20px;
}

.clearfooter {
    height: 40px;
    clear: both;
}

/**** visual styles ****/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 13px;
}

a:hover {
    text-decoration: underline;
}

nav a:visited {
    color: #000000;
    opacity: .75;
}

#sign-in {
    background-color: #4285f4;
    margin: 0px 28px 0px 10px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    border-style: none;
    border-radius: 2px;
    width: 70px;
    height: 30px;
    cursor: pointer;
}

#sign-in:hover {
    box-shadow: 1px 1px 2px 1px rgba(32, 33, 36, 0.28);
}

#sign-in:active, #sign-in:focus {
    outline-style: none;
}

input {
    border: 1px solid rgb(204, 202, 202);
    border-radius: 24px;
}

.buttons {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: pointer;
    font-size: 13px;
    margin: 4px 4px;
    min-width: 54px;
    padding: 9px 16px;
    text-align: center;
}

.buttons:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #000;
}

.register-vote {
    color: blue;
}

footer a {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    padding-left: 11px;
    padding-right: 11px;
    font-size: 14px;
}

footer a:visited {
    color: #000000;
    opacity: .75;
}
